.section{
  margin-left: 30px;
  margin-right: 30px;
  position : relative;
  top: 10vh;
}

.section-header {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom :10px
}

.section-title {
  color: white;
  margin-left: 10px;
  font-family: Poppins;
}

.section-btn{
    margin-right: 10px;
    color: #34c94b;
}
a{
    text-decoration: none;
}

.grid-container{
  display: flex;
  align-items: center;
}